<div class="container">
  <div class="row">
    <div class="12 columns">
      <h1>ember-cli-mask demo</h1>

      <p><a href="https://github.com/aesopwolf/ember-cli-mask">https://github.com/aesopwolf/ember-cli-mask</a></p>

      {{input-mask class="u-full-width" mask="99/99/9999" placeholder="01/01/1900" type="text"}}<br />

      {{input-mask class="u-full-width" mask="(999) 999-9999" placeholder="Phone number"}}<br />

      {{input-mask class="u-full-width" mask="9A**999" placeholder="CA license plate"}}<br/>
    </div>
  </div>
</div>
